<div class="mt-4 container main-container col-3 border border-2">
    <h1>Cadastro</h1>
    <form novalidate (ngsubmit)="criarConta()" [formGroup]="createForm">
        <h4>Crie sua conta</h4>
        <hr>

        <div class="alert alert-danger" *ngIf="errors.length > 0">
            <h3 id="msgRetorno">Opa! Alguma coisa não deu certo:</h3>
            <ul>
                <li *ngFor="let error of errors">{{ error }}</li>
            </ul>
        </div>

        <div class="form-group mb-2">
            <label class="col-md-4 control-label">Nome de Usuário</label>
            <div class="col-md-10">
                <input class="form-control" id="username" type="text" placeholder="Nome de Usuário (requerido)"
                    formControlName="username" [ngClass]="{'is-invalid': displayMessage.username }" />
                <span class="text-danger" *ngIf="displayMessage.username">
                    <p [innerHTML]="displayMessage.username"></p>
                </span>
            </div>
        </div>

        <div class="form-group mb-2">
            <label class="col-md-4 control-label">E-mail</label>
            <div class="col-md-10">
                <input class="form-control" id="email" type="text" placeholder="E-mail (requerido)"
                    formControlName="email" [ngClass]="{'is-invalid': displayMessage.email }" />
                <span class="text-danger" *ngIf="displayMessage.email">
                    <p [innerHTML]="displayMessage.email"></p>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Senha</label>
            <div class="col-md-10">
                <input class="form-control" id="password" type="text" placeholder="Senha entre 6 e 15 caracteres"
                    formControlName="password" [ngClass]="{'is-invalid': displayMessage.password }" />
                <span class="text-danger" *ngIf="displayMessage.password">
                    <p [innerHTML]="displayMessage.password"></p>
                </span>
            </div>
        </div>

        <div class="form-group">
            <div class="mt-4">
                <button class="btn btn-primary btn-block col-12 pt-2 pb-2" id="Login" [disabled]="!createForm.valid"
                    type="submit">Registrar</button>
            </div>
        </div>
    </form>
</div>