<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target name="database" xsi:type="Database">
			<dbProvider>Microsoft.Data.SqlClient</dbProvider>
			<connectionString>Server=localhost;Uid=root;Pwd=novasenha123;Database=IceGestor</connectionString>
			<commandText>
				INSERT INTO LogTable (LogLevel, Message, Exception, CreatedAt) VALUES (@level, @message, @exception, @timeStamp);
			</commandText>
			<parameter name="@level" layout="${level}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@exception" layout="${exception:format=ToString,StackTrace}" />
			<parameter name="@timeStamp" layout="${date}" />
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="database" />
	</rules>
</nlog>
