<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target 
				xsi:type="Database" 
				name="Logs" 
				connectionStringName="Server=localhost;Uid=root;Pwd=novasenha123;Database=IceGestor"
				dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data">
			<commandText>
				INSERT INTO Logs (LogLevel, Message, Exception, CreatedAt)
				VALUES (@level, @message, @exception, @createdat);
			</commandText>

			<parameter name="@level" layout="${level}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@exception" layout="${exception:format=ToString}" />
			<parameter name="@createdat" layout="${date}" />
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="databaseTarget" />
	</rules>
</nlog>
